@charset "utf-8";
body {
/*estilo de fontes*/

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(../SITE/imagens/casamento.png);
    color: blue;

}