@charset "utf-8";
body {
/*estilo de fontes*/

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: blue;
}

/*CONFIGURACAO DA INTERFACE*/
div#interface {

    width: 1200px;
    margin: -20px auto 10px auto;
    background-color: rgba(158, 155, 155, 0.3);
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}

/*CONFIGURACAO DO CABEÇALHO*/
header#cabecalho {
    background: url(../SITE/imagens/camera\ branca.png);
    background-repeat: no-repeat;
    background-position-x: 145px;
    margin: 0px;

}

header#cabecalho h1 {
    color: white;
    font-size: 35pt;
    font-family: 'segoe script', sans-serif;
    padding-top: 40px;
    margin-left: 15px;
}
header#cabecalho h2 {
    color: white;
    font-size: 15pt;
    font-family: 'papyrus', sans-serif;
    margin-top: -50px;
    margin-left: 15px;
}

/*CONFIGURACAO DOS MENUS*/

.menu1 {
    list-style: none;
    margin: 0px;
    margin-left: 580px;
    margin-top: -90px;
}

.menu1 li {
    position: relative;
    display: inline-block;
}

.menu1 li a {
    color: white;
    text-decoration: none;
    display: block;
    margin-left: 20px;
    font-family: 'papyrus', sans-serif;
    font-size: 25pt;
}

.menu1 li a:hover {
    text-decoration: underline;
    color: blue;
}

/* CONFIGURACAO DA DIV BANNER */

div#banner {
    margin: 0%;
    height: 510px;
    border-bottom: 8px solid white;
}

/* CONFGIRACAO DA FOTO DE BANNER */

figure.fotolegenda {
    position: relative;
}

figure.fotolegenda img {
    width: 1200px;
    height: 500px;
    margin-left: -40px;
    margin-top: 10px;
}

figure.fotolegenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 1200px;
    height: 500px;
    margin-top: 10px;
    margin-left: -40px;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    text-align: center;
    font-size: 30pt;
    padding-top: 150px;
}

figure.fotolegenda:hover figcaption {
    opacity: 1;
}

/* CONFIGURACAO DA DIV CONTEUDOS */

div#conteudos {
    color: white;
    font-family: 'papyrus', sans-serif;
    background-color: rgb(136, 133, 133);
    padding: 250px;

}

div#conteudos h1 {
    font-size: 40pt;
    margin-top: -230px;
    margin-left: -30px;
}